@import "./variable";
@import "./common";
.header {
  width: 100%;
  height: 80px;
  background-color: $color-purple;
}
.header-wrap {
  padding-top: 12px;
  width: 90%;
  margin: 0 auto;
  .row {
    @include row(space-between, center);
  }
}
.header-left {
  .btn {
    @include btn(201px, 50px, $color-purple);
  }
}
.header-right {
  display: flex;
  gap: 12px;
  .btn {
    @include btn(100px, 50px, $color-purple);
  }
  .input {
    width: 100%;
    max-width: 500px;

    height: 44px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    background: rgba(134, 128, 199, 0.5);
    border: 2px solid #ffffff;
    outline: none;
    border-radius: 10px 0px 0px 10px;
    padding-left: 10px;
  }
}
