@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import 'antd/dist/antd.css';
.header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  background-color: #675BF1;
}

.header-wrap {
  padding-top: 12px;
  width: 90%;
  margin: 0 auto;
}
.header-wrap .row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header-left .btn {
  border: 2px solid #ffffff;
  width: 100%;
  max-width: 201px;
  height: 50px;
  background-color: #675BF1;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  font-family: "Roboto";
  font-style: normal;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.header-left .btn:hover {
  opacity: 0.5;
  cursor: pointer;
  transform: translateY(-5px);
}

.header-right {
  display: flex;
  gap: 12px;
}
.header-right .btn {
  border: 2px solid #ffffff;
  width: 100%;
  max-width: 100px;
  height: 50px;
  background-color: #675BF1;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  font-family: "Roboto";
  font-style: normal;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.header-right .btn:hover {
  opacity: 0.5;
  cursor: pointer;
  transform: translateY(-5px);
}
.header-right .input {
  width: 100%;
  max-width: 500px;
  height: 44px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  background: rgba(134, 128, 199, 0.5);
  border: 2px solid #ffffff;
  outline: none;
  border-radius: 10px 0px 0px 10px;
  padding-left: 10px;
}

.navbar {
  position: fixed;
  top: 80px;
  background-color: #F88F14;
  height: calc(100vh - 80px);
  max-width: 180px;
}
.navbar .list .item {
  width: 100%;
  height: 40px;
  border-bottom: 2px solid #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .list .item a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: white;
  width: 100%;
}

.todo {
  width: 250px;
  border: 2px solid #675bf1;
  border-radius: 10px;
}

.details {
  margin: 0 12px 0 12px;
  padding: 15px 0 8px 0;
  font-weight: 400;
  border-bottom: 2px solid #675bf1;
}
.details .title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #000000;
}
.details .status {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.description {
  margin: 8px 12px 0 12px;
}
.description .title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
.description .desc {
  padding-bottom: 8px;
}

/* .login_wrap {
  margin-top: 30vh;
}

.login_2 {
  width: 50%;
  height: 50%;
  margin: auto auto;
}
.login_2_wrap {
  background-color: red;
} */